/* General Body Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.842), black), url(../home/assets/image_fx\ \(8\).jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: white;
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(20, 20, 20, 0.8); /* Dark background for header */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header img {
  margin-left: 30px;
  width: 70px;
  transition: transform 0.3s;
}

header img:hover {
  transform: scale(1.1);
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: transparent; /* Transparent background */
  font-size: 14px;
  border-radius: 50px;
  margin: 0 auto;
  width: 90%;
  z-index: 1050;
  transition: background-color 0.3s ease;
  color: white;
  
}

/* Cart Container */
.cart-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.219); /* Slightly transparent white */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* Headings */
h1 {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Cart Item Styles */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s;
}

.cart-item:hover {
  background-color: rgba(255, 255, 255, 0.05); /* Light hover effect */
}

/* Button Styles */
button {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  display: flex;
  margin: auto; /* Centraliza horizontalmente */
}


/* Total Section */
.total {
  justify-content: flex-end;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  
 
  margin-left: auto;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .cart-container {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }
  button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    
  }

  .total {
    text-align: center;
  }
}
